@{
    ViewData["Title"] = "Home Page";

}
<div>
    <br />
    <br />
    <br />
    <h4>Please open the following links first individually to see the respective type of data. Then open the links in two browser tabs, one after the other, to see data getting sync'ed</h4>
    <br />
    <h4><a href="/Home/OddEven?numType=odd">Click here to see odd values</a></h4>
    <br />
    <h4><a href="/Home/OddEven?numType=even">Click here to see even values</a></h4>
</div>